.btn-primary {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    width:100px;
    height:45px;
    border-radius:45px;
    padding: 0 0.40rem;
    background: #BE93D4;
    border: none;
    border-radius: 3px;
    color:black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-primary:hover {
    background-color: #BE93D4;
    box-shadow: 0px 5px 10px #9E7BB5;
    color: #fff;
    transform: translateY(-1px);
}
#horizontalrule {
    border: 10px #7386D5;
    background-color: #7386D5;
    height: 10px;
    border-radius: 10px;
    opacity: 1;
   }

   #logoForCartPage {
    margin-top:15px;
    height: 160px;
    width: 160px;
    background-color: #9E7BB5;
    border-radius: 50%;
    display: inline-block;
   }

   #cartlogohr {
    width: 120px;
    margin-left:20px;
    margin-right:20px;
    border: 2px #702963;
    background-color: #702963;
    height: 5px !important;
   }

   .toph1{
    margin-top:10px;
    }
    
    .bottomh1{
        margin-bottom:10px;
    }

    h1 {
        text-shadow: 2px 2px 0px #702963;
        
    }