#profile {
    text-align: center;
}

#likes{
  text-align: left;
}
#listings{
  text-align: left;
}

.profile-image {
  width:400px;
  height:400px;
  box-shadow: 0px 0px 10px #702963;
}

input [type=text] {
    padding:10px;
    border:none;
    box-shadow: 0 0 15px 4 px rgba(0,0,0,0.06)
}

.btn-secondary {
    width: 140px;
    height: 45px;
    
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color:#BE93D4 ;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .btn-secondary:hover {
    background-color: #A45EE5;
    box-shadow: 0px 15px 20px #9E7BB5;
    color: #fff;
    transform: translateY(-7px);
  }

  #horizontalrule {
   border: 10px #702963 !important;
   background-color: #702963 !important;
   height: 10px;
   border-radius: 10px;
   opacity: .5;
  }
  