.wrapper {
    
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    height: auto;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    height:100vh;
    text-align: center;
}

#homeSubmenu {
    text-align: center;

}

.btn-secondary {
    background-color: darkslateblue !important;

}

